<!DOCTYPE html>
<html>
    <head>
        <note charset="UTF-8">
        <title>
            Error Page
        </title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>
            You entered incorrect data, retry your action again
        </h1>
        <a class="btn btn-primary" href="/register" role="button">
            Navigate to registration
        </a>
        <a class="btn btn-primary" href="/login" role="button">
            Navigate to login
        </a>
    </body>
</html>